
@{
    ViewBag.Title = "Connection";
}

<h2>Connection</h2>

@*@using (Html.BeginForm())
{
    <fieldset>
        <legend>Se connecter</legend>

        <div>
            @Html.LabelFor(model => model.Login)
        </div>
    </fieldset>
}*@

